<!DOCTYPE html>
<html>
<head>
    <title>Flask Adult SLeeping App</title>
</head>
<body>

<h2>Binge Adults sleeping less than 7 hours nightly Age-adjusted Prevalence in MA by County</h2>

<form method="post">
    <select name="county" onchange="this.form.submit()">
        {% for county in counties %}
        <option value="{{ county }}" {% if county == selected_county %} selected {% endif %}>{{ county }}</option>
        {% endfor %}
    </select>
</form>

<img src="data:image/png;base64,{{ img }}" alt="Binge Drinking Visualization" />

</body>
</html>